.navbar-brand {
  color: black;
  font-style: italic;
  font-weight: bold;
  span {
    color: white;
    display: inline-block;
    background: red;
    line-height: 40px;
    border-radius: 50%;
    margin-top: -20px;
  }
}

.schedule-form {
  position: relative;
  .revert-btn {
    position: absolute;
    left: 340px;
    top: 18px;
    font-size: 30px;
    color: #ccc;
  }
}

.info {
  font-size: 24px;
}

.schedule-output {
  span {
    display: inline-block;
    width: 33%;
  }
  .departure {
    font-size: 20px;
  }
  .duration{
    text-align: center;
  }
  .arrival{
    font-size: 20px;
    text-align: right;
  }
}

.limited {
  background: #ffc;
}

.bullet {
  background: #fcc;
}
